<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Primary Meta Tags -->
    <title>{file.name}</title>
    <meta name="title" content="{file.name}">
    <meta name="description" content="{file.name}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{requestUri}" />
    <meta property="og:title" content="{file.name}" />
    <meta property="og:image" content="{image}" />

</head>
<body>
    <script>
        window.location = "{url}";
    </script>
</body>
</html>
