.element-browser .element-browser-main-content form[name=editform] {
    display: none
}
.t3js-drag-uploader-trigger {
    display: none;
}

.dropzone {
    display: none
}

/* Disable TYPO3 FAL selector */
a.inlineNewRelationButton[onclick*="sys_file_reference"] {
    display: none;
}