<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Backend"/>

<f:section name="Content">
    <div id="images"></div>
    <div id="admiral_cloud-browser"
        data-irreObject="{parameters.irreObject}"
        data-typo3-ajax-url="{ajaxUrl}"
        data-iframeurl="{iframeUrl}"
        data-mediaContainerId="{mediaContainerId}"
        data-embedLink="{embedLink}"
            data-iframeHost="{iframeHost}"
            data-modus="{modus}"
    >
    </div>
</f:section>


</html>